In [5]:
import pandas as pd

df = pd.read_csv('multiTimeline.csv', header=1, names=['Tesco', 'Morrisons', 'Aldi', 'Asda', 'Sainsburys']).reset_index()
df.head()

        index  Tesco  Morrisons  Aldi  Asda  Sainsburys
0  2019-01-13     38          8     9    29          15
1  2019-01-20     39          8     9    30          15
2  2019-01-27     37          8     8    29          15
3  2019-02-03     38          9     8    31          15
4  2019-02-10     39         10     9    30          17

In [9]:
df_pivot = df.pivot_table(columns='index')
df_pivot.head()

index,2019-01-13,2019-01-20,2019-01-27,2019-02-03,2019-02-10,2019-02-17,2019-02-24,2019-03-03,2019-03-10,2019-03-17,...,2020-02-02,2020-02-09,2020-02-16,2020-02-23,2020-03-01,2020-03-08,2020-03-15,2020-03-22,2020-03-29,2020-04-05
Aldi,9,9,8,8,9,8,9,8,8,9,...,9,9,9,9,10,12,19,20,21,20
Asda,29,30,29,31,30,31,33,32,30,30,...,30,28,29,31,34,35,62,83,72,71
Morrisons,8,8,8,9,10,9,9,9,10,9,...,9,10,9,10,11,13,33,51,36,34
Sainsburys,15,15,15,15,17,16,14,15,16,15,...,14,16,14,15,17,18,41,48,39,37
Tesco,38,39,37,38,39,38,40,38,37,36,...,37,37,36,38,40,45,92,100,93,88

In [10]:
df_pivot.columns

Index(['2019-01-13', '2019-01-20', '2019-01-27', '2019-02-03', '2019-02-10',
       '2019-02-17', '2019-02-24', '2019-03-03', '2019-03-10', '2019-03-17',
       '2019-03-24', '2019-03-31', '2019-04-07', '2019-04-14', '2019-04-21',
       '2019-04-28', '2019-05-05', '2019-05-12', '2019-05-19', '2019-05-26',
       '2019-06-02', '2019-06-09', '2019-06-16', '2019-06-23', '2019-06-30',
       '2019-07-07', '2019-07-14', '2019-07-21', '2019-07-28', '2019-08-04',
       '2019-08-11', '2019-08-18', '2019-08-25', '2019-09-01', '2019-09-08',
       '2019-09-15', '2019-09-22', '2019-09-29', '2019-10-06', '2019-10-13',
       '2019-10-20', '2019-10-27', '2019-11-03', '2019-11-10', '2019-11-17',
       '2019-11-24', '2019-12-01', '2019-12-08', '2019-12-15', '2019-12-22',
       '2019-12-29', '2020-01-05', '2020-01-12', '2020-01-19', '2020-01-26',
       '2020-02-02', '2020-02-09', '2020-02-16', '2020-02-23', '2020-03-01',
       '2020-03-08', '2020-03-15', '2020-03-22', '2020-03-29', '2020-04-05'],
      dtype='object', name='index')

In [13]:
df_pivot.to_csv('searchTerms.csv')